.upload-container {
  text-align: left;
  .upload-icon {
    border: 1px solid $border-color;
    margin: auto;
    #uploader-icon {
      width: 100%;
      height: 100%;
      text-align: center;
      cursor: pointer;
      color: #505050;
      margin: 0;
      vertical-align: middle;

      img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        padding: 3px;
      }
    }

    #upload-icon {
      display: none;
    }
  }
  .open-image {
    text-align: center;
    color: $bkg-main-color;
    margin-top: 1em;
    cursor: pointer;
    text-decoration-line: underline;
  }
}
