.modal-filter {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 5;
  display: flex;
  flex-direction: column;
  top: 0;
}
.modal-filter__header {
  display: flex;
  height: 56px;
  position: relative;
}
.modal-filter__header-icon {
  width: 56px;
  height: 56px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-filter__header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-weight: 700;
  font-size: 18px;
}
.modal-filter__group-head {
  background: #ff6f61;
  padding: 8px 16px;
  color: #fff;
}
.modal-filter__item {
  padding: 8px 16px;
}
.modal-filter__body {
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}
.modal-filter__footer {
  display: flex;
  align-items: center;
  padding: 12px;
  height: 64px;
  box-shadow: 0px 1px 2px 0px rgba(1, 1, 1, 0.5);
  .filterButton__apply {
    flex: 2;
  }
  .filterButton__cancel {
    margin-left: 12px;
    flex: 1;
  }
}