.policy {
  .policy__item-header {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 12px;
  }
  .policy__sub-title {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 6px;
  }
  .policy_item-content {
    margin-bottom: 16px;
  }
}
