.profile__section-title {
  font-size: 1.5625rem;
  font-weight: 500;
  margin-bottom: 16px;
}

.profile__section-title-sm {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 16px;
}
.share-code {
  .profile__code {
    border: 2px solid #fcbd30;
    display: inline-block;
    border-radius: 4px;
    padding: 8px 24px;
    font-weight: 900;
    font-size: 20px;
  }
  .share-step {
    @media (max-width: 767px) {
      margin-bottom: 16px;
    }

  }
  .share-step__icon {
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    img {
      width: 120px;
      height: 100%;
    }
  }
  .share-step__content {
    text-align: center;
  }
  .intro-user {
    display: flex;
    padding: 12px 0;
  }
  .intro-user__avatar {
    margin-right: 1.5rem;
    img {
      border-radius: 50%;
      width: 64px;
    }
  }
  .intro-user__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .intro-user__name {
    font-weight: 500;
  }
  .share-code-input {
    height: 43px;
  }
}