.space__bar {
  left: 0;
  background: #fff;
  z-index: 8;
  @media (max-width: 767px) {
    display: none;
  }
}
.space__bar--top {
  bottom: auto;
  top: 0;
  padding: 0!important;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.07), 0 1px 0 0 rgba(0,0,0,.05);
  transform: translateY(-70px);
  transition: all 300ms linear;
  &.active {
    transform: translateY(0);
  }
}
.space__nav  {
  margin-left: -10px;
  .nav-item {
    margin-right: 24px;
  }
  .nav-link {
    font-size: 1rem;
    padding: 21px 10px;
    cursor: pointer;
    position: relative;
    transition-duration: 0.3s;
    font-weight: 600;
    color: $text-color;
    &::before {
      content: "";
      width: 0;
      height: 3px;
      background: $main-color;
      bottom: 0;
      left: 0;
      position: absolute;
      transition: all .2s;
    }
    &.active {
      transition-duration: 0.3s;
      font-weight: 700;
      &::before {
        width: 100%;
      }
    }
  }
}