.DateRangePicker {
  width: 100%;
  height: 40px;
}

.DateRangePicker_picker {
  z-index: 6;
}
.DateRangePicker_picker {
  @media screen and (min-width: 768px){
    top: 48px !important;
  }
}

.DateInput_input {
  font-size: 16px !important;
  padding: 8px 11px 6px;
  border-bottom: none;
}

.DateRangePickerInput__withBorder {
  border-radius: 4px !important;
  overflow: hidden;
  width: 100%;
}

.CalendarDay__selected_span {
  background: $main-color !important; //background
  color: white; //text
  border: 1px solid $main-color; //default styles include a border
}

.CalendarDay__selected:hover {
  background: #ffe082;
  color: white;
}

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: #ffe082;
}

.CalendarDay__selected {
  background: #ffe082;
  color: white;
}

.DateRangePicker_picker__directionLeft {
  left: 0 !important
}

.calendar-info {
  @media screen and (max-width: 767px) {
    bottom: 60px;
    position: absolute;
    width: 100%;
  }
}

.SingleDatePicker_picker {
  background-color: transparent; 
}
.DateRangePickerInput__withBorder {
  border-color: $border-color-2;
}