.filterItem__group {
  padding: 10px 16px;
  border-bottom: 1px solid #ececec;
}
.filterItem__title {
  font-size: 16px;
  font-weight: 700;
  color: #333;
}
.filterItem__body {
  margin-top: 8px;
}
.filterItem__showmore {
  margin: 10px -16px;
  background: #f5f5f5;
  padding: 12px;
  text-align: center;
  color: #ff6f61;
}