.verification-modal {
  max-width: 665px;
  .modal-content {
    padding: 20px;
    margin-top: 20% !important;
    .modal-header {
      border: none;
      padding: 0;
      .modal-title {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
        color: #001a39;
        flex: auto;
        display: flex;
        justify-content: center;
      }
    }
    .detail {
      .instruction {
        font-size: 14px;
        color: #777777;
        text-align: center;
      }
      .progress {
        width: 560px;
        height: 70px;
        position: relative;
        margin-bottom: 40px;
        margin-top: 30px;
        @media screen and (max-width: 768px) {
          height: 150px;
          width: 100%;
        }
        .step {
          position: absolute;
          z-index: 10;
          .round {
            width: 24px;
            height: 24px;
            background-color: #edf7e2;
            border-radius: 50%;
            margin: 0 auto;
            margin-bottom: 5px;
            position: relative;
            @media screen and (max-width: 768px) {
              position: absolute;
              left: 20%
            }
            img {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              width: 13px;
              height: 13px;
            }
          }
          .step-title {
            font-size: 14px;
            font-weight: 500;
            color: #777777;
            @media screen and (max-width: 768px) {
              position: absolute;
              left: 33%
            }
          }
          &.step-1 {
            left: 50px;
            @media screen and (max-width: 768px) {
              position: relative;
              left: 50%;
              transform: translate(-50%, -50%);
              top: 10px;
            }
          }
          &.step-2 {
            left: 260px;
            @media screen and (max-width: 768px) {
              position: relative;
              left: 50%;
              transform: translate(-50%, -50%);
              top: 75px;
            }
          }
          &.step-3 {
            left: 450px;
            @media screen and (max-width: 768px) {
              position: relative;
              left: 50%;
              transform: translate(-50%, -50%);
              top: 140px;
            }
          }
          &.active {
            .round {
              background-color: #2bba56;
            }
            .step-title {
              color: #2bba56;
            }
          }
        }
        .progress-bar {
          position: absolute;
          width: 200px;
          height: 9px;
          background-color: #edf7e2;
          left: 105px;
          top: 7px;
          &.active {
            background-color: #2bba56;
          }
        }
        .progress-12 {
          left: 105px;
          @media screen and (max-width: 768px) {
            width: 9px;
            height: 60px;
            left: 23%;
            top: 16px;
          }
        }
        .progress-23 {
          left: 305px;
          @media screen and (max-width: 768px) {
            width: 9px;
            height: 60px;
            left: 23%;
            top: 85px;
          }
        }
      }
      form {
        .form-group {
          @media screen and (max-width: 768px) {
            margin: 0 auto;
            margin: 0 auto;
            margin-bottom: 5px;
          }
          label {
            margin-right: 10px;
            color: #000000;
            font-weight: 600;
            @media screen and (max-width: 768px) {
              margin-left: 47px;
            }
          }
          // input {
          //   padding: 5px 20px;
          // }
          .invalid-feedback {
            left: 28%;
          }

        }
        .resend {
          color: #007bff;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
        .step23-inputs {
          label {
            margin-left: 85px;
            @media screen and (max-width: 768px) {
              margin-left: 54px;
            }
          }
          .invalid-feedback {
            left: 17%;
          }
          .form-control.is-valid, .was-validated .form-control:valid {
            background-image: none !important;
          }
        }
        .btn-coal {
          display: block;
          margin: 0 auto;
          margin-top: 30px;
          color: $main-color;
          text-transform: uppercase;
          padding: 8px 65px;
          font-size: 14px;
        }
      }
    }
  }
}
