body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: $text-color;
  font-size: 1rem;
  @media (max-width: 767px) {
    font-size: 15px;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 0 !important;
  }
}
.header-transparent {
  .main-content {
    padding-top: 0;
  }
}
.main-content {
  min-height: 100vh;
}
.profile-wrapper {
  background: #fafafa;
}
.row {
  margin-right: -8px;
  margin-left: -8px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  padding-left: 8px ;
  padding-right: 8px;
}

.wrapper-content {
  min-height: 100vh;
}

.container {
  max-width: 1680px;
  padding-left: 80px;
  padding-right: 80px;
  @media screen and (max-width: 1199px) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media screen and (max-width: 767px) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.container--medium {
  max-width: 1280px;
}
.container--lg {
  max-width: 1440px;
}

.btn-full {
  width: 100%;
  text-align: center;
  &.btn-full--margin {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.is-relative {
  position: relative;
}

.title {
  h3 {
    font-size: 24px;
    font-weight: 700;
  }
}

.section-title {
  h3 {
    font-size: 1.5625rem;
    font-weight: 700;
    margin-bottom: 0 !important;
    @media screen and (max-width: 767px) {
      font-size: 1.375rem;
      font-weight: 700;
    }
  }
  &__description {
    h4 {
      margin-top: 12px;
      color: #3c3c3c;
      font-size: 1rem;
    }
  }
}

.section-price {
  .price-wrap {
    .price-item {
      padding: 12px;
      &:nth-child(odd) {
        background: #f1f1f1;
        }
      }
  }
}

.see-more {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  a {
    color: $main-color !important;
    font-size: 17px;
    &:hover {
      text-decoration: underline !important;
    }
  }
  &.see-more--bottom {
    margin-top: 18px;
    justify-content: flex-start;
  }
}

.section-detail {
  margin-top: 24px;
}
/**
 * ----------------------------------------
 * light-gallery
 * ----------------------------------------
 */
.lg-backdrop {
  z-index: 1050;
}

.lg-outer {
  z-index: 1060;
}

.info-item {
  padding: 5px 0;
  .info-image {
    img {
      border-radius: 50%;
      background: #d0d0d0;
      padding: 5px;
      width: 28px;
    }
  }
  .info-icon {
    color: #9E9E9E;
    width: 18px;
    display: inline-block;
    text-align: center;
  }
  .info-name {
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
  }
  .info-label {
    font-weight: 700;
    margin-left: 8px;
  }
}

.logo-info {
  margin-left: 10px;
  .logo-text {
    color: $main-color;
    font-size: 20px;
    font-weight: 600;
    display: flex;
  }
  .slogan-text {
    color: $main-color;
    font-size: 10px;
    font-weight: 300;
    display: flex;
  }
}

.react_lightgallery_item {
  width: 100%;
  height: 100%;
}

.homepage-events {
  .slick-slide {
    @media screen and (max-width: 767px) {
      width: 300px !important;
    }
  }
  .see-all {
    text-align: right;
    position: relative;
    a {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 85px;
      right: -9px;
      color: $main-color;
      font-size: 16px;
    }
  }
}

.MuiLinearProgress-root {
  height: 2px !important;
  overflow: hidden;
  position: fixed !important;
  width: 100%;
  top: 0px;
  z-index: 9999;
  display: block;
}

.booking--bottom {
  background-color: #ffffff;
  bottom: 0px ;
  position: fixed;
  width: 100%;
  z-index: 5;
  .booking__wrapper {
    padding-top: 16px;
    border-top: 1px solid #EBEBEB !important;
    height: 80px !important;
  }
  .booking-content {
    margin: 0 auto;
    .booking-content--inner {
      display: flex;
      justify-content: space-between;
      .space__info {
        .space__logo {
          margin-right: 16px;
          img {
            width: 48px;
            height: 48px;
            border-radius: 50%;
          }
        }
        .space__name {
          font-weight: 700;
        }
      }

      .space__booking {
        .btn-gold {
          padding-left: 50px;
          padding-right: 50px;
        }
      }
    }
    .btn-contact {
      background: #ff6f61;
      color: #fff;
    }
  }
}

.leaflet-container {
  height: 800px;
  width: 100%;
  margin-top: 5px;
  z-index: 0;
  .leaflet-popup-content-wrapper {
    padding: 0;
    .leaflet-popup-content {
      margin: 0;
    }
  }
  .leaflet-popup-close-button {
    display: none;
  }
  .leaflet-popup-tip-container {
    bottom: -12px;
  }
  .marker-label {
    background: #fff;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 12px;
    font-weight: 700;
  }
}

.area {
  &__item {
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
  }
  &__text {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    font-weight: 900;
    color: #fff;
    font-size: 22px;
  }
}

.profile-wrap {
  background: #fafafa;
}

.overflow-y-hidden {
  overflow-y: hidden !important;
}
.space__item-wrap {
  max-width: 75%;
  flex: 0 0 75%;
  padding-left: 8px;
  padding-right: 8px;
}
.space-wrap {
  height: 100% !important;
  overflow-y: auto !important;
  white-space: nowrap !important;
  overflow-x: scroll !important;
  padding-bottom: 30px !important;
  margin-bottom: -30px !important;
}

.space-display {
  @media (min-width: 992px) and (max-width: 1439px) {
    &:nth-child(n+9) {
      display: none;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    &:nth-child(n+7) {
      display: none;
    }
  }
}

// Skeleton loader
.skeleton {
  &.skeleton__list {
    .skeleton__item {
      @media (min-width: 992px) and (max-width: 1439px) {
        &:nth-child(n+9) {
          font-family: SpaceShare !important;
          display: none;
        }
      }
    }
  }

  &.skeleton__slider {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    padding-bottom: 8px;
  }
}


.section-divide {
  div {
    border-bottom-width: 1px !important;
    border-bottom-style: solid !important;
    border-bottom-color: #EBEBEB !important;
  }
}

.alert-error {
  color: $warning-color;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 1.5rem 0;
  font-size: 1rem;
  &__item {
    display: flex;
    align-items: center;
  }
  a {
    color: $text-color;
    transition-duration: 0.3s;
    &:hover {
      color: $main-color;
    }
  }
}
.breadcrumbs__item + .breadcrumbs__item::before {
  content: '';
  padding-left: 4px;
  padding-right: 4px;
  background-image: url('/static/images/arrow.svg');
  background-size: 13px 13px;
  width: 13px;
  height: 13px;
  margin: 0 0.75rem;
}

.wrapper-col {
  @media (min-width: 768px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}


